* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}
body {
  font-family: 'Nunito', serif;
  font-weight: 400;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

button {
  font-family: inherit;
  outline: none;
  border: 0;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  max-width: 1552px;
  width: 100%;
  margin: 0 auto;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-img {
  width: 42px;
  height: 38px;
}
.header__logo-text {
  margin-left: 20px;
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  color: #101010;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  min-width: 220px;
  min-height: 48px;
  background: #4A2DE2;
  border-radius: 8px;
  color: #fff;
  border: 1px solid transparent;
  text-decoration: none;
  
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.005em;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 76px;
}
.introduction__hint {
  font-weight: 600;
  font-size: 18px;
  line-height: 123%;
  color: #919191;
}
.introduction__link {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #919191;
}
.introduction__title {
  margin: 20px 0 30px;
  font-weight: normal;
  font-size: 34px;
  line-height: 46px;
  color: #101010;
  text-align: center;
  letter-spacing: 0.005em;
}
.demonstration {
  margin-top: 80px;
  position: relative;
  height: 100%;
  width: auto;
}
.demonstration::before {
  position: absolute;
  display: block;
  z-index: 0;
  top: 130px;
  height: 1018px;
  width: 100%;
  left: 0;
  content: "";
  background: no-repeat url("../img/ellipse1440.png");
  background-size: 100% 100%;
}
.demonstration__page-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background: #e6e6e6;
  width: 1296px;
  height: 744px;
  filter: drop-shadow(0px 4px 19px rgba(0, 0, 0, 0.08));
  border-radius: 6px;
  overflow: hidden;
}
.demonstration__page-wrapper::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height:0;
  width: 0;
  transform-origin: bottom left;
  transition: 0.4s;
}
.demonstration__page-wrapper.type-1::before,
.demonstration__page-wrapper.type-2::before,
.demonstration__page-wrapper.type-3::before,
.demonstration__page-wrapper.type-4::before {
  width: 100%;
  height: 100%;
  top: 0;
}
.demonstration__page-wrapper.type-1::before {
  background: no-repeat url("../img/button-type-1.png");
  background-size: 100% 100%;
}
.demonstration__page-wrapper.type-2::before {
  background: no-repeat url("../img/button-type-2.png");
  background-size: 100% 100%;
}
.demonstration__page-wrapper.type-3::before {
  background: no-repeat url("../img/button-type-3.png");
  background-size: 100% 100%;
}
.demonstration__page-wrapper.type-4::before {
  background: no-repeat url("../img/button-type-4.png");
  background-size: 100% 100%;
}
.demonstration__page {
  height: 100%;
  width: 100%;
  position: relative;
  background: no-repeat url("../img/screen.png");
  background-size: 100% 100%;
}
.demonstration__buttons {
  position: relative;
  z-index: 2;
  top: calc(100% - 115px);
  display: flex;
  margin: 0 auto;
  width: fit-content;
}
.demonstration__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}
.demonstration__button:nth-child(1) {
  background: url("../img/button-type-1.png");
}
.demonstration__button:nth-child(2) {
  background: url("../img/button-type-2.png");
}
.demonstration__button:nth-child(3) {
  background: url("../img/button-type-3.png");
}
.demonstration__button:nth-child(4) {
  background: url("../img/button-type-4.png");
}

.about {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1296px;
  margin: 100px auto 0;
  padding: 0 7px;
  color: #fff;
}
.about__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.005em;
}
.about__text {
  margin-top: 10px;
  font-size: 34px;
  line-height: 46px;
}

.phone-demonstration {
  position: relative;
  width: 100%;
  margin-top: 130px;
  background: url("../img/block-with-phone-background.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.phone-demonstration__content {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 90px 0;
}
.phone-demonstration img {
  object-fit: cover;
}
.phone-demonstration__button {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #4A2DE2;
  background: transparent;
  transition: 0.25s;
}
.phone-demonstration__button.button-1 {
  top: 123px;
  left: 38px;
}
.phone-demonstration__button.button-2 {
  top: 182px;
  left: 225px;
}
.phone-demonstration__button.button-3 {
  top: 306px;
  left: 57px;
}
.phone-demonstration__button.button-4 {
  top: 450px;
  left: 265px;
}
.phone-demonstration__button.button-5 {
  top: 725px;
  left: 161px;
}
.phone-demonstration__button:hover,
.phone-demonstration__button:focus {
  background: #4A2DE2;
}
.phone-demonstration__tooltip {
  position: absolute;
  z-index: 3;
  padding: 8px 16px 8px 13px;
  border-radius: 12px;
  color: #fff;
  background: #4A2DE2;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
  line-height: 19px;
  opacity: 0;
  transition: 0.25s;
  pointer-events: none;
}
.phone-demonstration__tooltip:after {
  content: "";
  position: absolute;
  display: block;
  top: 86%;
  width: 23px;
  height: 23px;
  left: 5.5%;
  background: no-repeat url("../img/cloud-arrow.svg");
  background-size: 100% 100%;
}
.phone-demonstration__button:hover .phone-demonstration__tooltip,
.phone-demonstration__button:focus .phone-demonstration__tooltip {
  opacity: 1;
}
.phone-demonstration__tooltip.tooltip-1 {
  top: -100px;
  left: -20px;
}
.phone-demonstration__tooltip.tooltip-2 {
  top: -80px;
  left: -20px;
}
.phone-demonstration__tooltip.tooltip-3 {
  top: -80px;
  left: -20px;
}
.phone-demonstration__tooltip.tooltip-4 {
  top: -80px;
  left: -15px;
}
.phone-demonstration__tooltip.tooltip-5 {
  top: -80px;
  left: -20px;
}

.footer {
  background: #4A2DE2;
  width: 100%;
}
.footer__inner {
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding: 80px 0 50px;
  display: flex;
  justify-content: space-between;
}
.footer__text {
  align-self: flex-end;
  text-align: right;
  width: 45%;
  color: #ffffff80;
  font-size: 34px;
  line-height: 123%;
}
.footer__telegram-link {
  color: #fff;
  text-decoration: none;
}
.footer__subscribe-form {
  width: 45%;
}
.subscribe-form {
  min-height: 373px;
}
.subscribe-form__title {
  font-weight: normal;
  text-align: left;
  font-size: 34px;
  line-height: 123%;
  color: #fff;
}
.subscribe-form__inner {
  width: 90%;
  margin-top: 38px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 12px 1px;
}
.subscribe-form__input {
  background: #4A2DE2;
  border: none;
  width: 100%;
  outline: none;
  color: #fff;
  font-size: 32px;
  line-height: 123%;
}
.subscribe-form__input::placeholder {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 123%;
  color: #FFFFFF;
  opacity: 0.5;
}
.subscribe-form__button {
  background: #4A2DE2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  min-width: 21px;
  padding: 0 3px;
}
@media screen and (max-width: 1920px) {
  .header {
    margin: 14px auto 0;
    max-width: 1280px;
  }
  .demonstration {
    margin-top: 50px;
  }
  .demonstration::before {
    height: 900px;
    top: 123px;
  }
  .demonstration__page-wrapper {
    width: 1064px;
    height: 610px;
  }
  .demonstration__buttons {
    top: calc(100% - 105px);
  }
  .about {
    margin-top: 115px;
    max-width: 1064px;
  }
  .phone-demonstration {
    margin-top: 125px;
  }
  .footer__inner {
    max-width: 1064px;
  }
}
@media screen and (max-width: 1064px) {
  .header {
    margin: 0 auto;
    max-width: 768px;
    padding: 18px 30px;
  }
  .header__logo-img {
    width: 45px;
    height: 40px;
  }
  .header__logo-text {
    margin-left: 13px;
    font-size: 20px;
    line-height: 27px;
  }
  .header__button {
    min-width: 200px;
    min-height: 45px;
  }
  .introduction {
    margin-top: 60px;
  }
  .introduction__hint {
    font-style: 16px;
  }
  .introduction__title {
    margin: 10px 0 16px;
    font-size: 29px;
    line-height: 40px;
    letter-spacing: normal;
  }
  .introduction__link {
    font-size: 21px;
    line-height: 29px;
  }
  .demonstration {
    margin-top: 34px;
  }
  .demonstration::before {
    top: 170px;
    height: 543px;
  }
  .demonstration__page-wrapper {
    width: 708px;
    height: 406px;
  }
  .demonstration__buttons {
    top: calc(100% - 85px);
  }
  .demonstration__button {
    width: 45px;
    height: 45px;
    margin: 0 8px;
  }
  .about {
    max-width: 706px;
    margin-top: 78px;
  }
  .about__title {
    font-size: 16px;
    line-height: 22px;
  }
  .about__text {
    margin-top: 8px;
    font-size: 29px;
    line-height: 40px;
  }
  .phone-demonstration {
    margin-top: 79px;
  }
  .phone-demonstration img {
    width: 230px;
    height: 462px;
  }
  .phone-demonstration__button {
    width: 20px;
    height: 20px;
  }
  .phone-demonstration__button.button-1 {
    top: 109px;
    left: 20px;
  }
  .phone-demonstration__button.button-2 {
    top: 149px;
    left: 151px;
  }
  .phone-demonstration__button.button-3 {
    top: 232px;
    left: 35px;
  }
  .phone-demonstration__button.button-4 {
    top: 331px;
    left: 179px;
  }
  .phone-demonstration__button.button-5 {
    top: 513px;
    left: 104px;
  }
  .footer__inner {
    max-width: 706px;
    padding: 50px 0 60px;
  }
  .footer__text {
    font-size: 20px;
  }
  .subscribe-form {
    min-height: 256px;
  }
  .subscribe-form__title {
    font-size: 20px;
    line-height: 123%;
  }
  .subscribe-form__inner {
    margin-top: 24px;
    padding: 10px 1px;
  }
  .subscribe-form__input {
    font-size: 20px;
  }
  .subscribe-form__input::placeholder {
    font-size: 20px;
  }
  .subscribe-form__button {
    min-height: 24px;
  }
}
@media screen and (max-width: 706px) {
  .header {
    padding: 15px 20px;
  }
  .header__logo-img {
    width: 32px;
    height: 28px;
  }
  .header__logo-text {
    font-size: 16px;
    line-height: 22px;
  }
  .header__button {
    min-width: 173px;
    min-height: 40px;
  }
  .introduction {
    margin-top: 63px;
  }
  .introduction__hint {
    font-size: 14px;
  }
  .introduction__title {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 27px;
  }
  .introduction__link {
    font-size: 18px;
    line-height: 25px;
  }
  .demonstration {
    margin-top: 48px;
  }
  .demonstration::before {
    height: 381px;
    top: 57px;
  }
  .demonstration__page-wrapper {
    width: 335px;
    height: 192px;
  }
  .demonstration__buttons {
    top: calc(100% - 35px);
  }
  .demonstration__button {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  .about {
    margin-top: 50px;
    width: 100%;
    max-width: 335px;
  }
  .about__title {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.005em;
  }
  .about__text {
    margin-top: 6px;
    font-size: 20px;
    line-height: 27px;
  }
  .phone-demonstration {
    margin-top: 37px;
  }
  .phone-demonstration__tooltip.tooltip-1 {
    left: -50px;
  }
  .phone-demonstration__tooltip.tooltip-1::after {
    left: 16%;
  }
  .phone-demonstration__tooltip.tooltip-2 {
    left: -188px;
  }
  .phone-demonstration__tooltip.tooltip-2::after {
    left: 61.5%;
  }
  .phone-demonstration__tooltip.tooltip-3 {
    left: -68px;
  }
  .phone-demonstration__tooltip.tooltip-3::after {
    left: 22%;
  }
  .phone-demonstration__tooltip.tooltip-4 {
    left: -176px;
  }
  .phone-demonstration__tooltip.tooltip-4::after {
    left: 79.5%;
  }
  .phone-demonstration__tooltip.tooltip-5 {
    left: -148px;
  }
  .phone-demonstration__tooltip.tooltip-5::after {
    left: 46%;
  }
  .footer__inner {
    flex-direction: column;
    max-width: 100%;
    padding: 60px 20px 63px;
  }
  .footer__subscribe-form {
    width: 100%;
  }
  .footer__text {
    margin-top: 85px;
    width: 100%;
  }
  .subscribe-form {
    min-height: 0;
  }
  .subscribe-form__inner {
    width: 100%;
  }
}